:root {
  --primary-color: #007a60;
  --secondary-color: #da7ccc;
  --text-color: #333;
}

.pure-g {
    align-items: stretch;
}

html, body, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: Bitter, Palatino, serif;
}

html, body {
    height: 100%;
}

body {
    background: #999 url(/img/bg-dk.jpg);
    display: flex;
    flex-direction: column;
}

table, img {
    margin: 0 auto;
    max-width: 100%;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 2em;
}

.container {
    max-width: 95%;
    margin: 0 auto;
}

#navbar {
    background: #000;
    color: #999;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
    font-family: "Fira Sans Condensed", sans-serif;
    display: block;
    width: 100%;
}

#navbar a {
    color: #999;
}

#navbar a:hover {
    color: #dcc;
    background: #433;
}

#navbar .pure-menu-heading {
    font-size: 1.5em;
    text-transform: none;
}

#navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#blurb {
    padding: 21px 0 21px 120px;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(225, 225, 225, 0.5);
    background: url(/img/blurb-arrow.png) 60px -5px no-repeat;
}

.pure-menu-item .pure-menu-link i {
    vertical-align: middle;
}

.pad {
    padding: 1em;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    .pad {
        padding: 0.1em;
    }
}

#content {
    margin: 0 auto;
    line-height: 1.8em;
}

#content li {
    margin: 0.25em 0;
}

.content {
    flex: 1 0 auto;
}

#sidebar {
    position: sticky;
    top: 5rem;
    align-self: flex-start;
    /* background: none; */
    background-color: #eee;
    /* background-color: #ddd; */
    z-index: 1;
    /* border-radius: 15px 15px 15px; */
    /* box-shadow: 0px 0px 15px 2px #ffffff70; */
    /* box-shadow: -4px 2px 16px rgba(0,0,0,0.35); */
    box-shadow: 0 0 5px #999;
    transform: translateY(50%);
    
    /* border-left: 3px solid var(--primary-color); */
    /* border-top: 2px solid var(--text-color); */
    /* border-bottom: 3px solid var(--text-color);
    border-right: 2px solid var(--text-color); */
}

/* #sidebar::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100vw;
    background-color: #00000000;
    background-color: var(--text-color);
    z-index: -1;
} */

#sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5px;
  background: var(--primary-color);
}

#sidebar .pure-menu-item a {
    color: var(--primary-color);
    
}

#sidebar .pure-menu-item a small {
    color: #444;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    padding: 1em;
}

.footer {
    flex-shrink: 0;
}

article, div.list {
    padding: 0 2em;
    background: #eee url(/img/bg.png);
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

div.list {
    margin: 0.4em;
    flex: 1;
    padding: 0;
}

div.list h3 {
    margin-top: 0.5em;
}

div.list .pad {
    padding: 0.5em 1em;
}

div.list time {
    font-size: 0.8em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #222;
    background-color: #ddd;
    margin:1px;
    float: right;
    padding: 4px;
    width: 48px;
    box-shadow: 0 0 2px #666;
}

section.toc h2 {
    padding: 0;
    margin: 0.5em 0;
}

section.toc h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.date {
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    padding-right: 1em;
}

.tags {
    font-size: 0.8em;
    font-family: "Fira Sans Condensed", sans-serif;
    padding-top: 1em;
}

.tags .pure-button {
    margin: 0.2em;
    display: inline-block;
}

.pure-button {
    color: #fff;
    border-radius: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    /* background-color: #900; */
    background-color: var(--primary-color)
}


#hero {
    text-align: center; 
    font-family: 'Overlock'; 
    padding: 2em;
}

span.author {
    float: right;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 1.5em 0 0.5em 0;
    line-height: 1.4em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    ol, ul {
        padding: 0 1.5em;
    }
}

a {
    /* color: #900; */
    color: var(--primary-color);
    text-decoration: none;
}

.sc {
    color: #766;
    padding: 4px;
    transition: all 1s;
}

.sc:hover {
    /* color: #900; */
    color: var(--primary-color);
    -webkit-transform: rotate(11deg);
    transform: scale(1.2);
}

.pure-menu-horizontal.pure-menu-scrollable {
    padding: 0;
}

.pure-menu a, .pure-menu .pure-menu-heading {
    white-space: normal;
}

#navbar .pure-menu-link {
    text-align: center;
    padding: 1em;
}

#sidebar .pure-menu {
    background: transparent;
}

#sidebar h3 {
    text-align: center;
}

#sidebar div button {
    font-size: 80%;
    margin: 4px;
}

/* Syntax Highlighting */
pre {
    padding: 1em;
}
pre, div.highlight {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2em;
}

pre, code {
    font-family: 'Menlo', 'Courier New', Courier, monospace;
}

div.highlight pre {
    border: 0;
    margin: 0;
    padding-right: 0;
}

/* Custom Styles */

blockquote {
    /* color: #636; */
    color: var(--secondary-color);
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.6em;
}

.pure-img {
    margin: 0 auto;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pagination {
    margin: 0 auto;
    text-align: center;
}

.pagination-item {
    margin: 0 2em;
}

.article-summary {
    padding-top: 0;
}

/* Article preview layout */
.article-grid {
    display: flex;
    gap: 1.5em;
    align-items: center; /* So thumbnail doesn't float to top of page */
}

.article-image {
  flex: 0 0 50%;
  border-left: 4px solid var(--primary-color);
  /* border-bottom: 3px solid var(--text-color); */
  /* box-shadow: -4px 4px 15px 1px rgba(0, 0, 0, 0.116); */
  box-shadow: 0 0 5px #999;
}

.article-image img {
  margin: 0;
  display: block;
  /* box-shadow: 4px 4px 4px var(--text-color); */
}

.about-columns {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    align-items: center;
}

.about-columns img {
    width: 180px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 700px) {
    .about-columns {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-columns img {
        margin: 0 auto;
    }
}

article img,
#content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    text-align: center;
    font-style: italic;
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.article-content {
  flex: 1;
}

/* Image hover overlay */
.container-hover {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.25s ease;
}

.container-hover:hover .overlay {
  opacity: 1;
}