:root {
  --primary-color: #007a60;
  --primary-translucent-color: #007a5f22;
  --secondary-color: #ebb5e3;
  --text-color: #333;
}

html, body, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: Fira Sans Condensed, Bitter, Palatino, serif;
}

html, body {
    height: 100%;
}

body {
    background: #999 url(/img/bg-dk.jpg);
    display: flex;
    flex-direction: column;
}

.pure-g {
    margin: 0 0 5vw 5vw;
}

table, img {
    margin: 0 auto;
    max-width: 100%;
}

.container-hover img { 
    object-fit: cover;
}

.container {
    max-width: 97.5vw;
    /* margin: 0 auto; top&bottom left&right */
    margin: 0;
}

.container-hover {
    /* max-width: 200px; */
    /* border: 1px solid black; */
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 2px 3px 5px #66666634;
    border: 1px solid var(--primary-color);
    border-width: 0 0 0 7px;
}

#navbar {
    background: #000;
    color: #999;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
    font-family: "Fira Sans Condensed", sans-serif;
    /* padding: 0 10 10 1rem; */
    padding-right: 1rem;
    border-bottom-right-radius: 1em;
}

#navbar a {
    color: #999;
}

#navbar a:hover {
    color: #dcc;
    background: #433;
}

#navbar .pure-menu-heading {
    font-size: 1.5em;
    text-transform: none;
}

#blurb {
    padding: 21px 0 21px 120px;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(225, 225, 225, 0.5);
    background: url(/img/blurb-arrow.png) 60px -5px no-repeat;
}

.pure-menu-item .pure-menu-link i {
    vertical-align: middle;
}

.pad {
    padding: 1em;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    .pad {
        padding: 0.1em;
    }
}

#content {
    margin: 0 auto;
    line-height: 1.8em;
}

#content li {
    margin: 1em 0;
}

.content {
    flex: 1 0 auto;
}

#sidebar .pure-menu-item a {
    /* color: #900; */
    color: var(--primary-color);
    
}

#sidebar .pure-menu-item a small {
    color: #444;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    padding: 1em;
}

.footer {
    flex-shrink: 0;
}

article, div.list {
    padding: 0 2em;
    background: #eee url(/img/bg.png);
    border: 1px solid #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.article-summary {
    margin-bottom: 0.0rem;
}

/* Summary article layout (before you click, just the preview) */
.article-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1.5rem;
    align-items: start;
    margin: 1.5rem 1.0rem 0 0;
}

/* .article-image img { */
    /* width: 100%; */
    /* height: auto;
    display: block;
    box-shadow: 2px 3px 5px #66666634; */
    /* border-bottom-right-radius: 3rem; */
    /* border-radius: 0% 0% 5rem 0%; */
    /* border: 1px solid var(--primary-color); */
    /* border-width: 0 0 0 7px; */
    /* object-fit: cover; */
/* } */

/* Mobile? */
@media (max-width: 768px) {
    .article-grid {
        grid-template-columns: 1fr;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--primary-translucent-color);
    position: absolute;
    transition: all 0.33s ease;
}

.overlay-text {
    position: absolute;
    right: 0%;
    top: 100%;
    transform: translate(0, -2em)translate(-0.25em, -0.25em);
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    /* background-color: var(--primary-translucent-color); */
    /* margin: 0.25em; */
    text-shadow: 0px 0px 5px white;

}

.overlay-left {
    left: -100%;
    top: 0;
}

.container-hover:hover .overlay-left {
    left: 0;
}

div.list {
    margin: 0.4em;
    flex: 1;
    padding: 0;
}

div.list h3 {
    margin-top: 0.5em;
}

div.list .pad {
    padding: 0.5em 1em;
}

div.list time {
    font-size: 0.8em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #222;
    background-color: #ddd;
    margin:1px;
    float: right;
    padding: 4px;
    width: 48px;
    box-shadow: 0 0 2px #666;
}

section.toc h2 {
    padding: 0;
    margin: 0.5em 0;
}

section.toc h3 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.date {
    color: #555;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    padding-right: 1em;
}

.tags {
    font-size: 0.8em;
    font-family: "Fira Sans Condensed", sans-serif;
}

.tags .pure-button {
    margin: 0.2em;
    display: inline-block;
}

.pure-button {
    color: #fff;
    border-radius: 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    /* background-color: #900; */
    background-color: var(--primary-color)
}


#hero {
    text-align: center; 
    font-family: 'Overlock'; 
    padding: 2em;
}

span.author {
    float: right;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 1.5em 0 0.5em 0;
    line-height: 1.4em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

.article-content h2 {
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.3em;
    }
    ol, ul {
        padding: 0 1.5em;
    }
}

a {
    /* color: #900; */
    color: var(--primary-color);
    text-decoration: none;
}

.sc {
    color: #766;
    padding: 4px;
    transition: all 1s;
}

.sc:hover {
    /* color: #900; */
    color: var(--primary-color);
    -webkit-transform: rotate(11deg);
    transform: scale(1.2);
}

.pure-menu-horizontal.pure-menu-scrollable {
    padding: 0;
}

.pure-menu a, .pure-menu .pure-menu-heading {
    white-space: normal;
}

#navbar .pure-menu-link {
    text-align: center;
    padding: 1em;
}

#sidebar .pure-menu {
    background: #ddd;
}

#sidebar h3 {
    text-align: center;
}

#sidebar div button {
    font-size: 80%;
    margin: 4px;
}

/* Syntax Highlighting */
pre {
    padding: 1em;
}
pre, div.highlight {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.2em;
}

pre, code {
    font-family: 'Menlo', 'Courier New', Courier, monospace;
}

div.highlight pre {
    border: 0;
    margin: 0;
    padding-right: 0;
}

/* Custom Styles */

blockquote {
    color: #636;
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.6em;
}

.pure-img {
    margin: 0 auto;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.pagination {
    margin: 0 auto;
    text-align: center;
}

.pagination-item {
    margin: 0 2em;
}
